Sample/bin/
Sample/obj/Debug/App.g.cs
Sample/obj/Debug/App.g.i.cs
Sample/obj/Debug/MainWindow.baml
Sample/obj/Debug/MainWindow.g.cs
Sample/obj/Debug/MainWindow.g.i.cs
Sample/obj/Debug/Sample.Properties.Resources.resources
Sample/obj/Debug/Sample.csproj.FileListAbsolute.txt
Sample/obj/Debug/Sample.g.resources
Sample/obj/Debug/Sample_Content.g.cs
Sample/obj/Debug/Sample_Content.g.i.cs
Sample/obj/Debug/Sample_MarkupCompile.i.lref
Sample/obj/Debug/Sample_MarkupCompile.lref
Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
XLocalizationService/bin/
XLocalizationService/obj/
Sample/obj/
